body {
  background: #383c45;
  color: white;
  margin: 0;
}

@media (max-width: 800px) {
  #app {
    padding: 10% !important;
  }
}

#app {
  padding-left: 5%;
  padding-right: 40%;
  padding-top: 5%;

  font-family: "Zilla Slab", serif;
}

p, li {
  font-size: 1.5rem;
}

h1, h2 {
  color: #383c45;
  background: white;
  margin: 0;
}

h2 {
  color: #383c45;
  background: white;
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem;
}

h1 {
  padding: 2rem;
  font-size: 4rem;
  line-height: 69px;
  letter-spacing: 0.058em;
  font-weight: 900;
  font-style: normal;
}
